html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 100%;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
}

.game {
  max-width: 365px;
  margin: 20px auto;
  border-radius: 5px 5px 0 0;
}

.game-rules {
  margin: 20px 10px;
  border-radius: 5px 5px 0 0;
}

@media screen and (min-width: 820px) {
  .game-rules {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.game-play {
  width: 80vmin;
  margin: 20px auto;
}

/* header */

.header__pic {
  width: 100%;
  border-radius: 5px 5px 0 0;
  vertical-align: bottom;
}

/* description, rules, game-play */

.description {
  color: #ffffff;
  background-color: #283e50;
  padding: 30px 15px;
}

.rules {
  color: #ffffff;
  background-color: #283e50;
  padding: 40px 30px;
  border-radius: 5px 5px 0 0;
}

.description__title,
.rules__title,
.game-play__title {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0.5em;
}

.game-play__title {
  color: white;
}

.description__text {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

/* ordered list */
.list {
  padding-left: 50px;
  margin-bottom: 40px;
}

.list__item {
  margin-bottom: 1em;
}

/* buttons */

.button {
  display: block;
  font-size: 1em;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.button--top {
  background-color: #1fcca4;
}

.button--top:hover,
.button--top:focus {
  background-color: #1cbb96;
}

.button--bottom {
  background-color: #0197f6;
  border-top: 1px solid #283e50;
}

.button--bottom:hover,
.button--bottom:focus {
  background-color: #0090e9;
}

/* symbols */

.symbol {
  width: 1em;
  height: 1em;
  vertical-align: bottom;
  filter: invert(100%);
}

/* images with caption */

.figure {
  margin-bottom: 40px;
}

.row:last-child .figure:last-child {
  margin-bottom: 0;
}

.figure__image {
  width: 100%;
}

.figure__caption {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  padding-top: 0.5em;
}

/* rows of figures */

@media screen and (min-width: 576px) {
  .row {
    display: flex;
  }

  .figure {
    flex: 1 1 50%;
  }

  .figure:first-child {
    margin-right: 30px;
  }

  .row:last-child .figure:first-child {
    margin-bottom: 0;
  }
}

/* controls */

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.controls__player {
  font-size: 1.5em;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.controls__text {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.5em;
}

.controls__symbol {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.controls__home,
.controls__restart {
  display: inline-block;
  width: 40px;
  height: 45px;
  padding: 10px 8px;
  border-radius: 4px;
}

.controls__home {
  background-color: #1fcca4;
}

.controls__home:hover,
.controls__home:focus {
  background-color: #1cbb96;
}

.controls__restart {
  background-color: #0197f6;
}

.controls__restart:hover,
.controls__restart:focus {
  background-color: #0090e9;
}

.controls__home img,
.controls__restart img {
  max-width: 100%;
}

/* playing grid */

.grid {
  display: flex;
  flex-wrap: wrap;

  width: 80vmin;
  height: 80vmin;

  border: 1px solid black;
}

.grid__square {
  flex: 1 1 10%;

  height: 10%;

  background-color: #BEB2D7;
  border: 1px solid black;
}

.grid__square:hover,
.grid__square:focus {
  background-color: #CEC4DF;
}

@keyframes showSymbol {
	0% {
		background-size: 0%;
	}

	100% {
		background-size: 65%;
	}
}

.grid__square--circle {
  background-image: url('circle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;

  animation: showSymbol 0.15s;
}

.grid__square--cross {
  background-image: url('cross.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;

  animation: showSymbol 0.15s;
}